body {
	background-image: url("earth.jpg");
}

.cell {
    width: 150px;
    height: 150px;
    font: 90px sans-serif;
    text-align: center;
    vertical-align: center;
    border-collapse: collapse;
    color: teal;
}

 h1 {
 	text-align: center;
 	font-size: 40px;
 	font-family: cursive;
 	color: teal;
 	text-decoration: underline;
 }

 h2 {

 	font-size: 30px;
 	font-family: cursive;
 	color: teal;

 }

 table {
 	margin-left: 200px;
 	border-collapse: collapse;
 	border: 2px solid white;
 	margin-bottom: 50px;
 }

 h3 {
 	color: teal;
 	font-size: 25px;
 	font-family: cursive;
 }


 h3 input  {
	height: 30px;
	width: 100px;
	color: red;
	background-color: yellow;
	font-size: 15px;

}


img {
	height: 70px;
}



h2 input {
	height 100px;
}










